---
const currentPath = Astro.url.pathname;
---

<section class="w-[90%] h-[15vh] sticky z-50 bg-[#13151a] top-0">
  <nav class="flex w-full h-full justify-between items-center">
    <a href="/">
      <img
        class="h-[10vh]"
        src="/1.edit.png"
        aspect-ratio="540/223"
        alt="Logo"
      />
    </a>
    <ul
      class="flex gap-6 bg-[#303236] relative font-bold h-[50%] rounded-md p-2 justify-center items-center"
    >
      <li
        class={`rounded-md w-24 h-full z-10 text-center transition-all duration-300 ease-in-out
          ${currentPath === "#home" ? "text-primary" : ""}`}
      >
        <a
          href="#home"
          class={`block w-full h-full rounded-md transition-all duration-150 ease-in-out
            ${
              currentPath === "#home"
                ? "hover:bg-[#1a1c21] hover:text-primary-active"
                : "hover:bg-[#3C3C3C] hover:text-primary"
            }  
            focus:bg-[#1a1c21] active:scale-95`}
        >
          Home
        </a>
      </li>

      <li
        class={`rounded-md w-24 h-full z-10 text-center transition-all duration-500 ease-in-out
          ${currentPath === "#projects" ? "text-primary" : ""}`}
      >
        <a
          href="#projects"
          class={`block w-full h-full rounded-md transition-all duration-150 ease-in-out
            ${
              currentPath === "#projects"
                ? "hover:bg-[#1a1c21] hover:text-primary-active"
                : "hover:bg-[#3C3C3C] hover:text-primary"
            } 
            focus:bg-[#1a1c21] active:scale-95`}
        >
          Projects
        </a>
      </li>

      <li
        class={`rounded-md w-24 h-full z-10 text-center transition-all duration-500 ease-in-out
          ${currentPath === "#contact" ? "text-primary" : ""}`}
      >
        <a
          href="#contact"
          class={`block w-full h-full rounded-md transition-all duration-150 ease-in-out
            ${
              currentPath === "#contact"
                ? "hover:bg-[#1a1c21] hover:text-primary-active"
                : "hover:bg-[#3C3C3C] hover:text-primary"
            }  
            focus:bg-[#1a1c21] active:scale-95`}
        >
          Contact
        </a>
      </li>
    </ul>
  </nav>
</section>

<style>
  .text-primary-active:hover {
    background-color: #1a1c21;
  }
</style>
