---
const currentPath = Astro.url.pathname;
---

<section
  class="w-[90%] h-[10vh] lg:h-[15vh] sticky z-50 dark:bg-bgDark bg-bgLight dark:text-white top-0"
>
  <nav class="flex flex-wrap w-full h-full justify-between items-center">
    <div>
      <a href="/">
        <img
          class="h-[10vh] block dark:hidden"
          src="/1.edit-negro.png"
          aspect-ratio="540/223"
          alt="Logo"
        />
      </a>
      <a href="/">
        <img
          class="h-[10vh] hidden dark:block"
          src="/1.edit.png"
          aspect-ratio="540/223"
          alt="Logo"
        />
      </a>
    </div>

    <div
      id="dark-mode-toggle"
      class="cursor-pointer relative w-16 h-8 dark:bg-[#303236] border-2 border-text rounded-full flex items-center p-1 transition-colors duration-300"
    >
      <button
        aria-label="Toggle Dark Mode"
        class="w-6 h-6 dark:bg-white bg-text rounded-full flex items-center justify-center transition-transform duration-300 dark:translate-x-8"
      >
        <svg
          id="sun-icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          width="14"
          height="14"
          class="hidden dark:inline"
        >
          <path
            fill="#007bff"
            d="M361.5 1.2c5 2.1 8.6 6.6 9.6 11.9L391 121l107.9 19.8c5.3 1 9.8 4.6 11.9 9.6s1.5 10.7-1.6 15.2L446.9 256l62.3 90.3c3.1 4.5 3.7 10.2 1.6 15.2s-6.6 8.6-11.9 9.6L391 391 371.1 498.9c-1 5.3-4.6 9.8-9.6 11.9s-10.7 1.5-15.2-1.6L256 446.9l-90.3 62.3c-4.5 3.1-10.2 3.7-15.2 1.6s-8.6-6.6-9.6-11.9L121 391 13.1 371.1c-5.3-1-9.8-4.6-11.9-9.6s-1.5-10.7 1.6-15.2L65.1 256 2.8 165.7c-3.1-4.5-3.7-10.2-1.6-15.2s6.6-8.6 11.9-9.6L121 121 140.9 13.1c1-5.3 4.6-9.8 9.6-11.9s10.7-1.5 15.2 1.6L256 65.1 346.3 2.8c4.5-3.1 10.2-3.7 15.2-1.6zM160 256a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zm224 0a128 128 0 1 0 -256 0 128 128 0 1 0 256 0z"
          ></path>
        </svg>
        <svg
          id="moon-icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 384 512"
          width="14"
          height="14"
          class="dark:hidden"
        >
          <path
            fill="#007bff"
            d="M223.5 32C100 32 0 132.3 0 256S100 480 223.5 480c60.6 0 115.5-24.2 155.8-63.4c5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6c-96.9 0-175.5-78.8-175.5-176c0-65.8 36-123.1 89.3-153.3c6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z"
          ></path>
        </svg>
      </button>
    </div>
    <button
      id="openMenu"
      class="w-12 h-10 flex items-center justify-center lg:hidden cursor-pointer rounded-md hover:bg-slate-200 dark:hover:bg-[#3C3C3C]"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        viewBox="0 0 448 512"
      >
        <path
          fill="#007bff"
          d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"
        ></path></svg
      >
    </button>

    <button
      id="closeMenu"
      class="hidden w-12 h-10 items-center justify-center cursor-pointer rounded-md hover:bg-slate-200 dark:hover:bg-[#3C3C3C]"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        viewBox="0 0 448 512"
      >
        <path
          fill="#007bff"
          d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"
        ></path></svg
      >
    </button>

    <ul
      id="menu"
      class="hidden w-full h-[85vh] mt-1 flex-col lg:hidden gap-6 bg-white dark:bg-[#303236] border-2 border-[#303236] font-bold rounded-md p-2 justify-center items-center"
    >
      <li
        class={`li flex-1 flex justify-center items-center rounded-md w-full h-full z-10 text-center transition-all duration-300 ease-in-out
      ${currentPath === "#home" ? "text-primary" : ""}`}
      >
        <a
          href="#home"
          class={`li flex justify-center items-center p-1 w-full h-full rounded-md transition-all duration-150 ease-in-out
        ${
          currentPath === "#home"
            ? "hover:bg-[#1a1c21] hover:text-primary-active"
            : "border-2 border-white hover:bg-slate-200 hover:border-[#303236] dark:border-[#303236] dark:hover:bg-[#3C3C3C] dark:hover:text-primary transition-all duration-500 ease-in-out"
        }  
        focus:bg-[#1a1c21] focus:text-white dark:focus:text-white active:scale-95`}
        >
          Home
        </a>
      </li>

      <li
        class={`li flex-1 flex justify-center items-center rounded-md w-full h-full z-10 text-center transition-all duration-300 ease-in-out
          ${currentPath === "#Skills" ? "text-primary" : ""}`}
      >
        <a
          href="#Skills"
          class={`li flex justify-center items-center p-1 w-full h-full rounded-md transition-all duration-150 ease-in-out
            ${
              currentPath === "#Skills"
                ? "hover:bg-[#1a1c21] hover:text-primary-active"
                : "border-2 border-white hover:border-2 hover:bg-slate-200 hover:border-[#303236] dark:border-2 dark:border-[#303236] dark:hover:bg-[#3C3C3C] dark:hover:text-primary transition-all duration-500 ease-in-out"
            }  
            focus:bg-[#1a1c21] focus:text-white dark:focus:text-white active:scale-95`}
        >
          Skills
        </a>
      </li>
      <li
        class={`li flex-1 flex justify-center items-center rounded-md w-full h-full z-10 text-center transition-all duration-300 ease-in-out
          ${currentPath === "#Services" ? "text-primary" : ""}`}
      >
        <a
          href="#Services"
          class={`li flex justify-center items-center p-1 w-full h-full rounded-md transition-all duration-150 ease-in-out
            ${
              currentPath === "#Services"
                ? "hover:bg-[#1a1c21] hover:text-primary-active"
                : "border-2 border-white hover:border-2 hover:bg-slate-200 hover:border-[#303236] dark:border-2 dark:border-[#303236] dark:hover:bg-[#3C3C3C] dark:hover:text-primary transition-all duration-500 ease-in-out"
            }  
            focus:bg-[#1a1c21] focus:text-white dark:focus:text-white active:scale-95`}
        >
          Services
        </a>
      </li>
      <li
        class={`li flex-1 flex justify-center items-center rounded-md w-full h-full z-10 text-center transition-all duration-500 ease-in-out
          ${currentPath === "#projects" ? "text-primary" : ""}`}
      >
        <a
          href="#projects"
          class={`li flex justify-center items-center p-1 w-full h-full rounded-md transition-all duration-150 ease-in-out
            ${
              currentPath === "#projects"
                ? "hover:bg-[#1a1c21] hover:text-primary-active"
                : "border-2 border-white hover:border-2 hover:bg-slate-200 hover:border-[#303236] dark:border-2 dark:border-[#303236] dark:hover:bg-[#3C3C3C] dark:hover:text-primary transition-all duration-500 ease-in-out"
            } 
            focus:bg-[#1a1c21] focus:text-white dark:focus:text-white active:scale-95`}
        >
          Projects
        </a>
      </li>

      <li
        class={`li flex-1 flex justify-center items-center rounded-md w-full h-full z-10 text-center transition-all duration-500 ease-in-out
          ${currentPath === "#contact" ? "text-primary" : ""}`}
      >
        <a
          href="#contact"
          class={`li flex justify-center items-center p-1 w-full h-full rounded-md transition-all duration-150 ease-in-out
            ${
              currentPath === "#contact"
                ? "hover:bg-[#1a1c21] hover:text-primary-active"
                : "border-2 border-white hover:border-2 hover:bg-slate-200 hover:border-[#303236] dark:border-2 dark:border-[#303236] dark:hover:bg-[#3C3C3C] dark:hover:text-primary transition-all duration-500 ease-in-out"
            }  
            focus:bg-[#1a1c21] focus:text-white dark:focus:text-white active:scale-95`}
        >
          Contact
        </a>
      </li>
    </ul>
    <ul
      class="hidden lg:flex gap-6 bg-white dark:bg-[#303236] border-2 border-[#303236] relative font-bold rounded-md p-2 justify-center items-center"
    >
      <li
        class={`rounded-md w-24 h-full z-10  text-center transition-all duration-300 ease-in-out
          ${currentPath === "#home" ? "text-primary" : ""}`}
      >
        <a
          href="#home"
          class={`block p-1 w-full  h-full rounded-md transition-all duration-150 ease-in-out
            ${
              currentPath === "#home"
                ? "hover:bg-[#1a1c21] hover:text-primary-active"
                : "border-2 border-white hover:border-2 hover:bg-slate-200 hover:border-[#303236] dark:border-2 dark:border-[#303236] dark:hover:bg-[#3C3C3C] dark:hover:text-primary transition-all duration-500 ease-in-out"
            }  
            focus:bg-[#1a1c21] focus:text-white dark:focus:text-white active:scale-95`}
        >
          Home
        </a>
      </li>

      <li
        class={`rounded-md w-24 h-full z-10 text-center transition-all duration-300 ease-in-out
          ${currentPath === "#Skills" ? "text-primary" : ""}`}
      >
        <a
          href="#Skills"
          class={`block p-1 w-full h-full rounded-md transition-all duration-150 ease-in-out
            ${
              currentPath === "#Skills"
                ? "hover:bg-[#1a1c21] hover:text-primary-active"
                : "border-2 border-white hover:border-2 hover:bg-slate-200 hover:border-[#303236] dark:border-2 dark:border-[#303236] dark:hover:bg-[#3C3C3C] dark:hover:text-primary transition-all duration-500 ease-in-out"
            }  
            focus:bg-[#1a1c21] focus:text-white dark:focus:text-white active:scale-95`}
        >
          Skills
        </a>
      </li>
      <li
        class={`rounded-md w-24 h-full z-10 text-center transition-all duration-300 ease-in-out
          ${currentPath === "#Services" ? "text-primary" : ""}`}
      >
        <a
          href="#Services"
          class={`block p-1 w-full h-full rounded-md transition-all duration-150 ease-in-out
            ${
              currentPath === "#Services"
                ? "hover:bg-[#1a1c21] hover:text-primary-active"
                : "border-2 border-white hover:border-2 hover:bg-slate-200 hover:border-[#303236] dark:border-2 dark:border-[#303236] dark:hover:bg-[#3C3C3C] dark:hover:text-primary transition-all duration-500 ease-in-out"
            }  
            focus:bg-[#1a1c21] focus:text-white dark:focus:text-white active:scale-95`}
        >
          Services
        </a>
      </li>
      <li
        class={`rounded-md w-24 h-full z-10 text-center transition-all duration-500 ease-in-out
          ${currentPath === "#projects" ? "text-primary" : ""}`}
      >
        <a
          href="#projects"
          class={`block p-1 w-full h-full rounded-md transition-all duration-150 ease-in-out
            ${
              currentPath === "#projects"
                ? "hover:bg-[#1a1c21] hover:text-primary-active"
                : "border-2 border-white hover:border-2 hover:bg-slate-200 hover:border-[#303236] dark:border-2 dark:border-[#303236] dark:hover:bg-[#3C3C3C] dark:hover:text-primary transition-all duration-500 ease-in-out"
            } 
            focus:bg-[#1a1c21] focus:text-white dark:focus:text-white active:scale-95`}
        >
          Projects
        </a>
      </li>

      <li
        class={`rounded-md w-24 h-full z-10 text-center transition-all duration-500 ease-in-out
          ${currentPath === "#contact" ? "text-primary" : ""}`}
      >
        <a
          href="#contact"
          class={`block p-1 w-full h-full rounded-md transition-all duration-150 ease-in-out
            ${
              currentPath === "#contact"
                ? "hover:bg-[#1a1c21] hover:text-primary-active"
                : "border-2 border-white hover:border-2 hover:bg-slate-200 hover:border-[#303236] dark:border-2 dark:border-[#303236] dark:hover:bg-[#3C3C3C] dark:hover:text-primary transition-all duration-500 ease-in-out"
            }  
            focus:bg-[#1a1c21] focus:text-white dark:focus:text-white active:scale-95`}
        >
          Contact
        </a>
      </li>
    </ul>
  </nav>
</section>

<style>
  .text-primary-active:hover {
    background-color: #1a1c21;
  }
</style>

<script>
  const openMenu = document.getElementById("openMenu") as HTMLElement | null;
  const closeMenu = document.getElementById("closeMenu") as HTMLElement | null;
  const menu = document.getElementById("menu") as HTMLElement | null;
  const li = document.getElementsByClassName(
    "li"
  ) as HTMLCollectionOf<HTMLElement>;
  const darkModeToggle = document.getElementById(
    "dark-mode-toggle"
  ) as HTMLElement | null;

  const isDarkMode = localStorage.getItem("darkMode") === "true";

  if (isDarkMode) {
    document.documentElement.classList.add("dark");
  }

  openMenu?.addEventListener("click", () => {
    openMenu.classList.add("hidden");
    menu?.classList.remove("hidden");
    menu?.classList.add("flex");
    closeMenu?.classList.remove("hidden");
    closeMenu?.classList.add("flex");
  });

  closeMenu?.addEventListener("click", () => {
    closeMenu.classList.add("hidden");
    closeMenu.classList.remove("block");
    openMenu?.classList.remove("hidden");
    menu?.classList.remove("flex");
    menu?.classList.add("hidden");
  });

  Array.from(li).forEach((element: HTMLElement) => {
    element.addEventListener("click", () => {
      menu?.classList.remove("flex");
      menu?.classList.add("hidden");
      closeMenu?.classList.add("hidden");
      openMenu?.classList.remove("hidden");
    });
  });

  darkModeToggle?.addEventListener("click", () => {
    document.documentElement.classList.toggle("dark");
    localStorage.setItem(
      "darkMode",
      String(document.documentElement.classList.contains("dark"))
    );
  });
</script>
