---
const { text } = Astro.props;
---

<div
  class="flex justify-center items-center gap-1 md:gap-2 md:py-1 md:px-2 bg-transparent md:bg-accent md:dark:bg-text rounded-md"
>
  <slot />
  <p class="text-sm lg:text-lg text-semibold">{text}</p>
</div>
