---
const { title } = Astro.props;
---

<div
  class="flex h-[10vh] gap-3 mb-8 w-full justify-center items-center text text-4xl text-center font-bold text-text dark:text-white dark:hover:text-primary hover:text-primary transition-colors duration-1000 ease-in-out"
>
  <img src="/icon.png" alt="tech" class="w-9 h-9 mt-1" />
  <h2>{title}</h2>
  <div class="w-8 h-8"></div>
</div>
