<section class="w-[90%] h-[50vh] mt-10 flex flex-col justify-center">
  <h2 class="text-4xl text-center mb-8 font-bold">Services</h2>
  <div class="flex items-center gap-8 justify-center w-full">
    <div class="flex-1 p-4">
      <h3 class="text-center text-3xl">FRONT-END</h3>
      <p class="text-center">
        Passionate about crafting captivating user interfaces, I specialize in
        frontend development to bring your digital vision to life. Let's
        collaborate to create a website that engages and inspires your audience.
      </p>
    </div>
    <div class="flex-1 p-4">
      <h3 class="text-center text-3xl">BACK-END</h3>
      <p class="text-center">
        Building the backbone of seamless digital experiences is my expertise.
        From database architecture to server-side scripting and API integration,
        I ensure your website operates efficiently and securely.
      </p>
    </div>
  </div>
</section>
