---
import SectionTittle from "./section-tittle.astro";
---

<section id="Services" class="w-[90%] mt-10 flex flex-col justify-center">
  <SectionTittle title="Services" />
  <div
    class="flex flex-col lg:flex-row items-center gap-4 lg:gap-20 justify-center w-full"
  >
    <div
      class="flex-1 p-8 lg:h-60 border-2 border-text dark:border-0 dark:bg-accent rounded-md"
    >
      <h3 class="text-center mb-2 text-2xl font-bold">FRONT-END</h3>
      <p class="text-center font-semibold">
        Passionate about crafting captivating user interfaces, I specialize in
        frontend development to bring your digital vision to life. Let's
        collaborate to create a website that engages and inspires your audience.
      </p>
    </div>
    <div
      class="flex-1 p-8 lg:h-60 border-2 border-text dark:border-0 dark:bg-accent rounded-md"
    >
      <h3 class="text-center mb-2 text-2xl font-bold">BACK-END</h3>
      <p class="text-center font-semibold">
        Building the backbone of seamless digital experiences is my expertise.
        From database architecture to server-side scripting and API integration,
        I ensure your website operates efficiently and securely.
      </p>
    </div>
  </div>
</section>
