<section class="w-[90%] h-[50vh] mt-10 flex flex-col">
  <div
    class="flex h-[20vh] relative gap-3 mb-8 w-full justify-center items-center"
  >
    <img
      src="/icon.png"
      alt="tech"
      class="w-8 h-8 absolute top-[41%] left-[41%]"
    />
    <h2
      class="text text-4xl text-center font-bold w-full text-white hover:text-primary transition-colors duration-1000 ease-in-out"
    >
      Services
    </h2>
  </div>
  <div class="flex items-center gap-8 justify-center w-full">
    <div class="flex-1 p-4 h-20">
      <h3 class="text-center text-3xl">FRONT-END</h3>
      <p class="text-center">
        Passionate about crafting captivating user interfaces, I specialize in
        frontend development to bring your digital vision to life. Let's
        collaborate to create a website that engages and inspires your audience.
      </p>
    </div>
    <div class="flex-1 p-4 h-20">
      <h3 class="text-center text-3xl">BACK-END</h3>
      <p class="text-center">
        Building the backbone of seamless digital experiences is my expertise.
        From database architecture to server-side scripting and API integration,
        I ensure your website operates efficiently and securely.
      </p>
    </div>
  </div>
</section>
