<section class="w-[90%] h-[50vh] mt-10 flex flex-col justify-center">
  <h2 class="text-4xl text-center mb-8">Services</h2>
  <div class="flex items-center gap-8 justify-center w-full">
    <div class="flex-1 p-4">
      <h3 class="text-center text-3xl">FRONT-END</h3>
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
        numquam molestias modi placeat! Molestias, tempore saepe? Accusamus
        totam repudiandae laudantium illo id iusto reprehenderit, nihil
        aspernatur? Nihil illum rem ratione.
      </p>
    </div>
    <div class="flex-1 p-4">
      <h3 class="text-center text-3xl">BACK-END</h3>
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
        numquam molestias modi placeat! Molestias, tempore saepe? Accusamus
        totam repudiandae laudantium illo id iusto reprehenderit, nihil
        aspernatur? Nihil illum rem ratione.
      </p>
    </div>
  </div>
</section>
